Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"]
}

docs: minor text adaption of html getting started page
  packages/components/src/stories/getting-started/html5/00-overview.stories.mdx
Due: none

feat(tabs): add sub-navigation
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tabs/bal-tabs.scss
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(form): adjust expanded style
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(footer): adjust hide links
  packages/components/src/components/bal-footer/bal-footer.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor(tabs)!: remove rounded option
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tabs/bal-tabs.scss
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/stories/bal-tabs.docs.mdx
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: generate github link
  packages/components/src/stories/migration/05-migration-from-6x-to-7x.stories.mdx
Due: none

chore(release): v8.0.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update changelog
  CHANGELOG.md
  packages/components/src/stories/migration/06-migration-from-6x-to-7x.stories.mdx
  packages/components/src/stories/migration/07-migration-from-7x-to-8x.stories.mdx
Due: none

chore: format files
  .lintstagedrc
  packages/components/src/stories/migration/07-migration-from-7x-to-8x.stories.mdx
Due: none

fix(container): increase the level of is-compact
  packages/components/src/styles/elements/container.scss
Due: prettier --write

docs(): add border examples
  packages/components/src/stories/design/01-colors.stories.mdx
Due: none

docs: adjust breakpoint values
  packages/components/src/stories/design/05-breakpoints.docs.mdx
Due: none

docs: fix typos
  packages/components/src/stories/design/00-overview.stories.mdx
Due: none

chore: update deps
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove resolutions
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove resolutions
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format file
  packages/components/src/stories/design/03-icons.stories.mdx
  packages/components/src/stories/design/07-page-layout.stories.mdx
Due: none

chore(): update build artifacts
  packages/components/src/stories/contributors.md
Due: prettier --write

chore(release): v8.0.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: adjust changelog
  CHANGELOG.md
Due: none

docs: remove pipes module from instructions where it has not been installed yet
  packages/components/src/stories/getting-started/angular/01-installation.stories.mdx
Due: none

docs: fix file where to put bal-app root element
  packages/components/src/stories/getting-started/angular/01-installation.stories.mdx
Due: none

docs: text modifications for contributor page
  packages/components/src/stories/welcome/contributors.stories.mdx
Due: none

fix(modal)!: remove action component, improve large content and popovers
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.scss
  packages/components/src/components/notice/bal-modal/bal-modal-actions/bal-modal-actions.tsx
  packages/components/src/components/notice/bal-modal/bal-modal-body/bal-modal-body.tsx
  packages/components/src/components/notice/bal-modal/bal-modal-footer/bal-modal-footer.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.scss
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.vars.scss
  packages/components/src/components/notice/bal-modal/stories/bal-modal.docs.mdx
  packages/components/src/components/notice/bal-modal/stories/bal-modal.stories.ts
  packages/components/src/stories/getting-started/angular/03-03-usage-modal.stories.mdx
  packages/components/src/stories/getting-started/vue/02-03-usage-modal.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: adapted texts for architecture page
  packages/components/src/stories/contributing/01-00-architecture.stories.mdx
Due: none

docs: adapted texts for ci cd page
  packages/components/src/stories/contributing/01-01-architecture-ci-cd.stories.mdx
Due: none

docs: text modifications for dev setup page
  packages/components/src/stories/contributing/02-dev-setup.stories.mdx
Due: none

docs: text modification for setup page
  packages/components/src/stories/contributing/03-project-setup.stories.mdx
Due: none

docs: text modifications for commands page
  packages/components/src/stories/contributing/04-commands.stories.mdx
Due: none

docs: modification on release page
  packages/components/src/stories/contributing/05-release.stories.mdx
Due: none

docs: text modifications for how to components page
  packages/components/src/stories/contributing/how-to's/00-component.stories.mdx
Due: none

docs: minor text adaptions for controller page
  packages/components/src/stories/contributing/how-to's/01-controller.stories.mdx
Due: none

docs: text adaptions for testing stories page
  packages/components/src/stories/contributing/how-to's/02-testing.stories.mdx
Due: none

docs: changed headline on welcome page
  packages/components/src/stories/welcome.stories.mdx
Due: none

docs: fix typos
  packages/components/src/stories/contributing/01-00-architecture.stories.mdx
  packages/components/src/stories/welcome.stories.mdx
Due: none

fix: update deps
  packages/components-react/src/react-component-lib/createComponent.tsx
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update docs and remove old code
  packages/components/src/components/form/bal-field/bal-field.scss
  packages/components/src/stories/contributors.md
Due: prettier --write
